/* -----------------------------------------------------------------------------
   _main.scss
   since it's a single-page website most of the magic happens here
   -------------------------------------------------------------------------- */
html, body {
  background: #222;
  -webkit-font-smoothing: antialiased;
}

a:link, a, a:visited {
  color: _color(orange);
  text-decoration: none !important;
}
a:hover {
  color: lighten(_color(orange), 15%);
}
.resetPerspective {
  transform: perspective(700px) rotateY(5deg);
}
.toggleButtonInline {
  padding: 5px 15px !important;
}
.toggleButtonStandalone {
  text-align: center;
}
.toggleButton {
  color: _color(white);
  font-family: _font(primary-font-family);
  font-size: inherit;
  font-weight: 300;
  cursor: pointer;
}
.toggleBox {
  display: none;

}
.toggleBoxInline {
  li {
  }
}
.badge {
  background: _color(gray-light);
  padding: 0 5px;
  margin: 0 3px;
  font-size: .9rem;
  bottom: 1px;
  position: relative;
}
.f {
  margin-bottom: 40px;
}
.badge-featured {
  position: relative;
  bottom: 2px;
  background: lighten(_color(orange), 5%);
}
.badge-offical {
  background: #6172b5 !important;
}
.badge-tools {
  background: darken(_color(yellow), 15%) !important;
}
.badge-sheets {
  background: _color(purple) !important;
}
.badge-findplayers {
  background: _color(blue) !important;
}
.badge-beta {
  background: _color(red) !important;
}
.badge-reddit {

}
.agent-select {
  margin-bottom: 30px;
}
.catTitle {
  display: inline-block;
}
main {
  max-width: _grid(max-width);
  margin: 50px auto;
  transform: none;
  footer {
    font-size: .9rem;
  }
  div, footer {
    color: lighten(_color(gray),20%);
      h1 {
        display: inline-flex;
        border-bottom: solid 2px lighten(_color(black), 20%);
        color: inherit;
        margin-bottom: 0;
      }
      .togglePerspective {
        font-size: .8em;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  .vet h2 {
    border-bottom: solid 2px lighten(_color(red), 10%) !important;
  }
  section {
  transition: ease-in 0.1s all;
  background: _color(black);
  border-radius: 2px;
  margin-bottom: 15px;
  box-shadow: 0 0 20px darken(_color(black),10%);
  &:hover {
    transform: scale(1.1);
  }
    h2 {
      border-top: solid 1px lighten(_color(black), 10%);
      border-left: solid 1px lighten(_color(black), 10%);
      border-right: solid 1px lighten(_color(black), 10%);
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      margin-bottom: 0;
      font-family: _font(secondary-font-family);
      color: darken(_color(white), 10%);
      padding: 5px 15px;
      font-weight: 300;
      font-size: 1.5rem;
      border-bottom: solid 2px lighten(_color(orange), 10%);
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      .featured {
        background: lighten(_color(orange), 10%) !important;
        color: _color(white);
        a {
          color: _color(white);
          font-weight: 600;
        }
      }
      li {
        border-left: solid 1px lighten(_color(black), 10%);
        border-right: solid 1px lighten(_color(black), 10%);
        padding: 5px 15px;
        font-weight: 300;
        color: _color(white);
        background: lighten(_color(black), 3%);
        span:first-child {
          margin-left: 0;
        }
        .link-name {
          min-width: 300px;
          display: inline-block;
        }
        .link-url {
          min-width: 300px;
          display: inline-block;
        }
        span {
          font-family: _font(secondary-font-family);
          color: _color(white);
          margin: 0 10px;
        }
      }
      li:nth-child(odd) {
      background: _color(black);
      }
      li:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom: solid 1px lighten(_color(black), 10%);
      }
    }
  }
  .unified {
    .description {
      opacity: .8;
    }
  }
  .redditBox {
    h2 {
      border-bottom: lighten(_color(gray), 5%);
    }
    .description {
      background: lighten(_color(gray), 25%);
      border: solid 1px lighten(_color(gray), 35%);
    }
  }
  .generalBox {
    h2 {
      border-bottom: darken(_color(orange), 10%);
    }
    .description {
      background: lighten(_color(orange), 5%);
      border: solid 1px lighten(_color(orange), 15%);
    }
  }
  .officalBox {
    h2 {
      border-bottom: darken(_color(blue), 10%);
    }
    .description {
      background: lighten(_color(blue), 5%);
      border: solid 1px lighten(_color(blue), 15%);
    }
  }
  .sheetsBox {
    h2 {
      border-bottom: darken(_color(green), 10%);
    }
    .description {
      background: lighten(_color(green), 5%);
      border: solid 1px lighten(_color(green), 15%);
    }
  }
  .toolsBox {
    h2 {
      border-bottom: darken(_color(yellow), 10%);
    }
    .description {
      background: darken(_color(yellow), 15%);
      border: solid 1px lighten(_color(yellow), 10%);
    }
  }
  .lfgBox {
    h2 {
      border-bottom: darken(_color(purple), 10%);
    }
    .description {
      background: lighten(_color(purple), 5%);
      border: solid 1px lighten(_color(purple), 15%);
    }
  }
  .betaBox {
    h2 {
      border-bottom: darken(_color(red), 10%);
    }
    .description {
      background: lighten(_color(red), 5%);
      border: solid 1px lighten(_color(red), 15%);
    }
  }
}

@media (max-width: 960px) {
  html,body {
    padding: 5px;
    main {
      transform: none;
      margin-top: 20px;
      section {
        &:hover {
          transform: none;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .link-name {
    min-width: 0 !important;
  }
  .link-url {
    min-width: 250px !important;
  }
}
