@charset "UTF-8";

/*!-----------------------------------------------------------------------------
   Master Stylesheet.

   Project:       thedivision.rocks
   Version:       0.1.0
   Contributors:  Tim Kopplow <tim@mitium.net>
   URL:           https://twitter.com/timkopplow
   -------------------------------------------------------------------------- */
/*!-----------------------------------------------------------------------------
   Updated Stylesheet.

   Project:       thedivision.rocks
   Version:       0.2.1
   Contributors:  Weborigin <info@weborigin.nl>
   URL:           https://www.weborigin.nl
   -------------------------------------------------------------------------- */

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

.debug:before {
    background: #fafaaa;
    color: #333;
    content: "";
    left: 0;
    padding: .5rem .75rem;
    position: fixed;
    top: 0;
    z-index: 1
}

@media (max-width:39.9375rem) {
    .debug:before {
        content: "small (≤ 40rem)"
    }
}

@media (min-width:40rem) and (max-width:59.9375rem) {
    .debug:before {
        content: "medium (> 40rem and ≤ 60rem)"
    }
}

@media (min-width:60rem) and (max-width:79.9375rem) {
    .debug:before {
        content: "large (> 60rem and ≤ 80rem)"
    }
}

@media (min-width:80rem) and (max-width:119.9375rem) {
    .debug:before {
        content: "exra large (> 80rem and ≤ 120rem)"
    }
}

@media (min-width:120rem) {
    .debug:before {
        content: "above extra large (> 120rem)"
    }
}

:root {
    box-sizing: border-box
}

*,
:after,
:before {
    background-color: inherit;
    border-color: inherit;
    box-sizing: inherit
}

@media (max-width:39.9375rem) {
    .hidden-sm {
        display: none
    }
}

@media (min-width:40rem) and (max-width:59.9375rem) {
    .hidden-md {
        display: none
    }
}

@media (min-width:60rem) and (max-width:79.9375rem) {
    .hidden-lg {
        display: none
    }
}

@media (min-width:80rem) and (max-width:119.9375rem) {
    .hidden-xlg {
        display: none
    }
}

@media (min-width:120rem) {
    .hidden-xxlg {
        display: none
    }
}

:root {
    color: #333;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    text-rendering: optimizeLegibility
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3c3c3b;
    font-family: Titillium Web, sans-serif;
    margin-top: 0
}

.h1,
h1 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem
}

.h2,
h2 {
    font-size: 1.125rem;
    margin-bottom: 1.125rem
}

.h3,
h3 {
    font-size: 1.0625rem;
    margin-bottom: 1.0625rem
}

@media print {
    *,
    :after,
    :before,
    :first-letter,
    :first-line {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    img,
    tr {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}

.btn {
    background-color: #c8c8c8;
    border-radius: .125rem;
    border: 0;
    box-shadow: 0 .125rem .0625rem #9c9c9c;
    color: #333;
    display: block;
    line-height: inherit;
    outline: 0;
    padding: .875rem 1.125rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
    word-wrap: break-word
}

.btn:not(:last-child) {
    margin-bottom: .75rem
}

.btn.-primary {
    background-color: #3c3c3b;
    color: #fbfbfb
}

body,
html {
    background: #222;
    -webkit-font-smoothing: antialiased
}

a,
a:link,
a:visited {
    color: #ff6d10;
    text-decoration: none!important
}

a:hover {
    color: #ff9c5d
}

.resetPerspective {
    -webkit-transform: perspective(700px) rotateY(5deg);
    transform: perspective(700px) rotateY(5deg)
}

.toggleButtonInline {
    padding: 5px 15px!important
}

.toggleButtonStandalone {
    text-align: center
}

.toggleButton {
    color: #fbfbfb;
    font-family: Open Sans, sans-serif;
    font-size: inherit;
    font-weight: 300;
    cursor: pointer
}

.toggleBox {
    display: none
}

.badge {
    background: #9c9c9c;
    padding: 0 5px;
    margin: 0 3px;
    font-size: .9rem;
    bottom: 1px;
    position: relative
}

.f {
    margin-bottom: 40px
}

.badge-featured {
    position: relative;
    bottom: 2px;
    background: #ff7d2a
}

.badge-offical {
    background: #6172b5!important
}

.badge-tools {
    background: #dd9f05!important
}

.badge-sheets {
    background: #673ab7!important
}

.badge-findplayers {
    background: #1c65d9!important
}

.badge-beta {
    background: #f33!important
}

.badge-site {
    background: #efff34!important
}

.agent-select {
    margin-bottom: 30px
}

.catTitle {
    display: inline-block
}

main {
    max-width: 43.75rem;
    margin: 50px auto;
    -webkit-transform: none;
    transform: none
}

main footer {
    font-size: .9rem
}

main div,
main footer {
    color: #6f6f6e
}

main div h1,
main footer h1 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-bottom: 2px solid #666;
    color: inherit;
    margin-bottom: 0
}

main div .togglePerspective,
main footer .togglePerspective {
    font-size: .8em;
    text-decoration: underline;
    cursor: pointer
}

main .vet h2 {
    border-bottom: 2px solid #f66!important
}

main section {
    -webkit-transition: ease-in .1s all;
    transition: ease-in .1s all;
    background: #333;
    border-radius: 2px;
    margin-bottom: 15px;
    box-shadow: 0 0 20px #1a1a1a
}

main section:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

main section h2 {
    border-top: 1px solid #4d4d4d;
    border-left: 1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-bottom: 0;
    font-family: Titillium Web, sans-serif;
    color: #e2e2e2;
    padding: 5px 15px;
    font-weight: 300;
    font-size: 1.5rem;
    border-bottom: 2px solid #ff8c43
}

main section ul {
    margin: 0;
    padding: 0;
    list-style: none
}

main section ul .featured {
    background: #ff8c43!important;
    color: #fbfbfb
}

main section ul .featured a {
    color: #fbfbfb;
    font-weight: 600
}

main section ul li {
    border-left: 1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
    padding: 5px 15px;
    font-weight: 300;
    color: #fbfbfb;
    background: #3b3b3b
}

main section ul li span:first-child {
    margin-left: 0
}

main section ul li .link-name,
main section ul li .link-url {
    min-width: 300px;
    display: inline-block
}

main section ul li span {
    font-family: Titillium Web, sans-serif;
    color: #fbfbfb;
    margin: 0 10px
}

main section ul li:nth-child(odd) {
    background: #333
}

main section ul li:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 1px solid #4d4d4d
}

main .unified .description {
    opacity: .8
}

main .redditBox h2 {
    border-bottom: #494948
}

main .redditBox .description {
    background: #7c7c7a;
    border: 1px solid #969694
}

main .generalBox h2 {
    border-bottom: #dc5600
}

main .generalBox .description {
    background: #ff7d2a;
    border: 1px solid #ff9c5d
}

main .officalBox h2 {
    border-bottom: #1650ac
}

main .officalBox .description {
    background: #2b72e4;
    border: 1px solid #5890e9
}

main .sheetsBox h2 {
    border-bottom: #003b1b
}

main .sheetsBox .description {
    background: #00883f;
    border: 1px solid #00bb56
}

.badge-beta {
    background: #f33!important
}

.badge-site {
    background: #f33!important
}

main .toolsBox .description {
    background: #dd9f05;
    border: 1px solid #fbd067
}

main .siteBox .description {
    background: #dd9f05;
    border: 1px solid #fbd067
}

main .lfgBox h2 {
    border-bottom: #512e90
}

main .lfgBox .description {
    background: #7446c4;
    border: 1px solid #916dd1
}

main .betaBox h2 {
    border-bottom: red
}

main .betaBox .description {
    background: #ff4d4d;
    border: 1px solid #ff8080
}

@media (max-width:960px) {
    body,
    html {
        padding: 5px
    }
    body main,
    html main {
        margin-top: 20px
    }
    body main,
    body main section:hover,
    html main,
    html main section:hover {
        -webkit-transform: none;
        transform: none
    }
}

@media (max-width:550px) {
    .link-name {
        min-width: 0!important
    }
    .link-url {
        min-width: 250px!important
    }
}